
* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
/* Header */

.header {
    position: sticy;
    top: 1px;
    background-color: white;
    width: 100%;
    
}
.header-links {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    
}
.logo-area,
.header-menu  {
    flex: 1;    

}
.logo-area {
    display: flex;
    align-items: center;
    padding: 0 20px;

}
.logo-area a {
    padding: 0 10px;
    display: inline-block;
}
.logo-area img {
    width: 110px;
}
.search-area {
    flex: 2;
}
.search-area label {
    display: flex;
}
.search-area input {
    width: 100%;
    padding: .7em 1em;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid rgb(212, 199, 199);
    
}
.search-area input:focus {
    outline: 2px solid rgb(93, 135, 150);
    border-radius: 6px;
}
.search-area button {
    padding: .5rem 2rem;
    background: rgba(219, 212, 212, 0.199);
    ;
}
.header-menu i{
   padding: 0 5%; 
}
.header-menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.header-menu-list li {
    margin: 10px;
}

.featured-area{
    display: flex;
    height: 60%;
}


.featured-video {
    flex:2;
    
}
.featured-video iframe {
    width: 100% ;
  height: 100% ;
  
}
/* main */

.main {
    height: 100vh;
}

.main {
    margin: auto 5%;
}

/* Aside */
.aside {
    flex: 1;
}
.recommended-list {
    padding: 1rem;
}
.recommended-video {
    display: flex;
}
.recommended-video h2 {
    font-size: 1.2rem;
    padding: 1rem;
}
.toggle-container{
    display: flex;
    justify-content: space-around;
    
}
.fas{
    display: block;
    
}
.avatar{
    border-radius: 50%;
}